<div class="row justify-content-center">

    <div class="col-md-5">

        <form action="/auth/register" method="post">

            <h1 class="text-center m-5">Registro de usuarios</h1>

            <input type="text" name="userName" placeholder="Ingresar Nombre" class="form-control mb-2 ">

            <input type="text" name="email" placeholder="Ingresar Email" class="form-control mb-2 ">

            <input type="password" name="password" placeholder="Ingresar Password" class="form-control mb-2 ">

            <input type="password" name="repassword" placeholder="Repetir Password" class="form-control mb-2 ">

            <button type="submit" class="btn btn-primary mt-3">Registrar</button>

        </form>

    </div>

</div>